<h1>Find a city</h1>

<form method="GET" action="/results">
	<input type="text" name="name" placeholder="City Name">
	<input type="text" name="state" placeholder="State">
	<input type="submit" value="Search">
</form>